.cart-panel {
  position: fixed;
  z-index: 100;
  top: 60px;
  right: 0;
  width: 100%;
  max-width: 500px;
}

.cart-wrapper {
  border: 1px solid #590fb7;
  border-radius: 8px;
  padding: 20px;
  background: white;
}

@media screen and (max-width: 600px) {
  .cart-wrapper {
    border: none;
    border-radius: 0;

    border-bottom: 1px solid #590fb7;
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actions {
  color: #590fb7;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.remove {
  cursor: pointer;
  font-size: 24px;
}

.quantity {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.item-price {
  color: #590fb7;
  font-weight: 900;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
